
<!--
<P>For debugging purposes, here is the all the info available:

<!- - { { list_of_vector_dicts } } - ->

<ul>
{ % for this_vector_dict in list_of_vector_dicts %}
<li>{ { this_vector_dict }}</li>
{ % endfor %}
</ul>
-->

<table border="1" id="vector_table" class="sortable">
  <tr>
    <th>ID</th>
    <th>latex</th>
    <th>name</th>
    <th>description</th>
    <th>orientation</th>
    <th>used in expression</th>
    <th>used in derivation</th>
    <th>reference</th>
    <th>is_composite</th>
    <th>size</th>
  </tr>
  {% for vector_dict in list_of_vector_dicts %}
  <tr>
    <td>
      <a href="{{ url_for('pg_to_edit_vector', vector_id=vector_dict['id'] ) }}">
          {{ vector_dict['id'] }}
      </a>
    </td>
    <td>\({{ vector_dict['latex']}}\)<BR>
          {{ vector_dict['latex']}}</td>
    <td>{{ vector_dict['name_latex'] }}</td>
    <td>{{ vector_dict['description_latex'] }}</td>
    <td>{{ vector_dict['orientation'] }}</td>
    <td>{% for expression_dict in dict_of_expression_dicts_that_use_vector[vector_dict['id']] %}
      <UL>
        <LI><a href="{{ url_for('pg_to_edit_expression', expression_id=expression_dict['id']) }}?referrer=table_of_symbols_requires_arguments">{{ expression_dict['id'] }}</a></LI>
      </UL>
        {% endfor %}
    </td> <!-- used in expressions -->
    <td>{% for derivation_dict in dict_of_derivation_dicts_that_use_vector[vector_dict['id']] %}
      <UL>
        <LI><a href="{{ url_for('pg_to_review_derivation', derivation_id=derivation_dict['id']) }}">{{ derivation_dict['id'] }}</a></LI>
      </UL>
        {% endfor %}
    </td> <!-- used in derivation -->
    <td>{{ vector_dict['vector_reference'] }}</td>
    <td>{{ vector_dict['is_composite'] }}</td>
    <td>{{ vector_dict['size'] }}
{% if vector_dict['size']=="fixed" %}
: vector_dict['number_of_entries']
{% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
