<P>For debugging purposes, here is the all the info available:

<!-- { { list_of_derivation_dicts } } --> 

<ul>
{% for this_derivation_dict in list_of_derivation_dicts %}
<li>{{ this_derivation_dict }}</li>
{% endfor %}
</ul>

<P>The above info is used to populate the table below.

<table border="1" id="derivation_table" class="sortable">
  <tr>
    <th>name</th>
    <th>abstract</th>
    <th>number of steps</th>
  </tr>
  {% for derivation_dict in list_of_derivation_dicts %}
  <tr>
    <td>
      <a href="{{ url_for('pg_to_review_derivation', derivation_id=derivation_dict['id'] ) }}">
        {{ derivation_dict['name_latex'] }}
      </a>
    </td>
    <td>{{ derivation_dict['abstract_latex']}}</td>
    <td>{{ number_of_steps_per_derivation[derivation_dict['id']] }}</td>
  </tr>
  {% endfor %}
</table>
