
<!--
<P>For debugging purposes, here is the all the info available:

<ul>
{ % for this_scalar_dict in list_of_scalar_dicts %}
<li>{ { this_scalar_dict }}</li>
{ % endfor %}
</ul>
-->

<table border="1" id="scalar_table" class="sortable">
  <tr>
    <th>ID</th>
    <th>latex</th>
    <th>name</th>
    <th>description</th>
    <th>scope</th>
    <th>domain</th>
    <th>used in expression</th>
    <th>used in derivation</th>
    <th>variable or constant</th>
    <th>reference</th>
    <th><small>dimension:</small> time</th>
    <th><small>dimension:</small> length</th>
    <th><small>dimension:</small> mass</th>
    <th><small>dimension:</small> electric charge</th>
    <th><small>dimension:</small> luminous intensity</th>
    <th><small>dimension:</small> amount of substance</th>
    <th><small>dimension:</small> temperature</th>
  </tr>
  {% for scalar_dict in list_of_scalar_dicts %}
  <tr>
    <td>
      <a href="{{ url_for('pg_to_edit_scalar', scalar_id=scalar_dict['id'] ) }}">
          {{ scalar_dict['id'] }}
      </a>
    </td>
    <td>\({{ scalar_dict['latex']}}\)<BR>
          {{ scalar_dict['latex']}}</td>
    <td>{{ scalar_dict['name_latex'] }}</td>
    <td>{{ scalar_dict['description_latex'] }}</td>
    <td>{{ scalar_dict['scope'] }}</td>
    <td>{{ scalar_dict['domain'] }}</td>
    <td>{% for expression_dict in dict_of_expression_dicts_that_use_scalar[scalar_dict['id']] %}
      <UL>
        <LI><a href="{{ url_for('pg_to_edit_expression', expression_id=expression_dict['id']) }}?referrer=table_of_symbols_dimension0">{{ expression_dict['id'] }}</a></LI>
      </UL>
        {% endfor %}
    </td> <!-- used in expressions -->
    <td>{% for derivation_dict in dict_of_derivation_dicts_that_use_scalar[scalar_dict['id']] %}
      <UL>
        <LI><a href="{{ url_for('pg_to_review_derivation', derivation_id=derivation_dict['id']) }}">{{ derivation_dict['name_latex'] }}</a></LI>
      </UL>
        {% endfor %}
    </td> <!-- used in derivation -->
    <td>
      {% if scalar_dict['variable_or_constant']=="constant" %}
        <a href="{{ url_for('pg_to_list_constant_values', scalar_id=scalar_dict['id']) }}">{{ scalar_dict['variable_or_constant'] }}</a>
      {% else %}
        {{ scalar_dict['variable_or_constant'] }}
      {% endif %}
    </td>
    <td>{{ scalar_dict['scalar_reference'] }}</td>
    <td>{{ scalar_dict['dimension_time'] }}</td>
    <td>{{ scalar_dict['dimension_length'] }}</td>
    <td>{{ scalar_dict['dimension_mass'] }}</td>
    <td>{{ scalar_dict['dimension_electric_charge'] }}</td>
    <td>{{ scalar_dict['dimension_luminous_intensity'] }}</td>
    <td>{{ scalar_dict['dimension_amount_of_substance'] }}</td>
    <td>{{ scalar_dict['dimension_temperature'] }}</td>
  </tr>
  {% endfor %}
</table>
