<!--
<P>For debugging purposes, here is the all the info available:

<!- - { { list_of_symbol_dicts } } - ->

<ul>
{ % for this_symbol_dict in list_of_operation_dicts %}
<li>{ { this_symbol_dict }}</li>
{ % endfor %}
</ul>

<P>dict_of_expression_dicts_that_use_operation:<BR>
{ { dict_of_expression_dicts_that_use_operation }}

<P>dict_of_derivation_dicts_that_use_operation:<BR>
{ { dict_of_derivation_dicts_that_use_operation }}
-->
<table border="1" id="symbol_table" class="sortable">
  <tr>
    <th>ID</th>
    <th>latex</th>
    <th>name</th>
    <th>argument count</th>
    <th>description</th>
    <th>used in expression</th>
    <th>used in derivation</th>
    <th>reference</th>
  </tr>
  {% for symbol_dict in list_of_operation_dicts %}
  <tr>
    <td>
      <a href="{{ url_for('pg_to_edit_operation', operation_id=symbol_dict['id'] ) }}">
          {{ symbol_dict['id'] }}
      </a>
    </td>
    <td>\({{ symbol_dict['latex']}}\)<BR>
          {{ symbol_dict['latex']}}</td>
    <td>{{ symbol_dict['name_latex'] }}</td>
    <td>{{ symbol_dict['argument_count'] }}</td>
    <td>{{ symbol_dict['description_latex'] }}</td>
    <td>{% for expression_dict in dict_of_expression_dicts_that_use_operation[symbol_dict['id']] %}
      <UL>
        <LI><a href="{{ url_for('pg_to_edit_expression', expression_id=expression_dict['id']) }}?referrer=table_of_symbols_requires_arguments">{{ expression_dict['id'] }}</a><BR>
          \({{ expression_dict['latex_lhs'] }}{{ expression_dict['latex_relation'] }}{{ expression_dict['latex_rhs'] }}\)
        </LI>
      </UL>
        {% endfor %}
    </td> <!-- used in expressions -->
    <td>{% for derivation_dict in dict_of_derivation_dicts_that_use_operation[symbol_dict['id']] %}
      <UL>
        <LI><a href="{{ url_for('pg_to_review_derivation', derivation_id=derivation_dict['id']) }}">{{ derivation_dict['name_latex'] }}</a></LI>
      </UL>
        {% endfor %}
    </td> <!-- used in derivation -->
    <td>{{ symbol_dict['symbol_reference'] }}</td>
  </tr>
  {% endfor %}
</table>
