
<!-- 
<P>For debugging purposes, here is the all the info available:

<!- - { { list_of_matrix_dicts } } - ->

<ul>
{ % for this_matrix_dict in list_of_matrix_dicts %}
<li>{ { this_matrix_dict }}</li>
{ % endfor %}
</ul>
-->

<table border="1" id="matrix_table" class="sortable">
  <tr>
    <th>ID</th>
    <th>latex</th>
    <th>name</th>
    <th>description</th>
    <th>used in expression</th>
    <th>used in derivation</th>
    <th>reference</th>
    <th>is_composite</th>
    <th>size</th>
  </tr>
  {% for matrix_dict in list_of_matrix_dicts %}
  <tr>
    <td>
      <a href="{{ url_for('pg_to_edit_matrix', matrix_id=matrix_dict['id'] ) }}">
          {{ matrix_dict['id'] }}
      </a>
    </td>
    <td>\({{ matrix_dict['latex']}}\)<BR>
          {{ matrix_dict['latex']}}</td>
    <td>{{ matrix_dict['name_latex'] }}</td>
    <td>{{ matrix_dict['description_latex'] }}</td>
    <td>{% for expression_dict in dict_of_expression_dicts_that_use_matrix[matrix_dict['id']] %}
      <UL>
        <LI><a href="{{ url_for('pg_to_edit_expression', expression_id=expression_dict['id']) }}?referrer=table_of_symbols_requires_arguments">{{ expression_dict['id'] }}</a></LI>
      </UL>
        {% endfor %}
    </td> <!-- used in expressions -->
    <td>{% for derivation_dict in dict_of_derivation_dicts_that_use_matrix[matrix_dict['id']] %}
      <UL>
        <LI><a href="{{ url_for('pg_to_review_derivation', derivation_id=derivation_dict['id']) }}">{{ derivation_dict['id'] }}</a></LI>
      </UL>
        {% endfor %}
    </td> <!-- used in derivation -->
    <td>{{ matrix_dict['matrix_reference'] }}</td>
    <td>{{ matrix_dict['is_composite'] }}</td>
    <td>{{ matrix_dict['size'] }}
{% if vector_dict['size']=="fixed" %}
: matrix_dict['number_of_rows'] rows x matrix_dict['number_of_columns'] columns
{% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
