<!-- see https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates -->
<!DOCTYPE html>
<HTML lang='en'>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {% if title %}
    <title>Physics Derivation Graph: {{ title }}</title>
    {% else %}
    <title>Welcome to the Physics Derivation Graph</title>
    {% endif %}

    {% include '_pg_js_head.html' %}

    <meta property="og:type" content="website" /> <!-- https://ogp.me/#types -->
    <meta property="og:site_name" content="Physics Derivation Graph" /> <!-- https://ogp.me/#optional -->

    <!-- defines the default zoom for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

  </head>
  <body>

<!-- https://flask.palletsprojects.com/en/2.0.x/patterns/flashing/ -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% if messages|length > 1 %}
    MESSAGES:
    {% else %}
    MESSAGE:
    {% endif %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    
  {% block content %}

  {% endblock %}

<P>timing of queries (in seconds):{% for what_is_being_timed,duration_in_seconds in query_time_dict.items() %}
  <UL>
  <LI>{{ what_is_being_timed }}, {{ duration_in_seconds }}</LI>
</UL>
{% endfor %}


  
{% include '_pg_footer.html' %}
  
  </body>
</html>

