{% extends "_base.html" %}
{% block content %}


<H2>Historical context, relation to other efforts</h2>
  <P>
    The <a href="https://plato.stanford.edu/entries/principia-mathematica/">Principia Mathematica</a> (1910) is the most well-known modern effort to formalize mathematics. The outcomes, including <a href="https://plato.stanford.edu/entries/goedel-incompleteness/">Godel's Incompleteness Theorems</a>, were beneficial to mathematics. More recently, the <a href="https://en.wikipedia.org/wiki/QED_manifesto">QED manifesto</a> (1994) proposed leveraging computers to capture rigor underlying mathematics. Beneficial results included the Mizar and Metamath databases. Methods of consistent open source representation for mathematics (MathML, OpenMath) between various Computer Algebra Systems (e.g., Mathematica, Maple, SymPy, Axiom, <a href="https://en.wikipedia.org/wiki/List_of_computer_algebra_systems">others</a>) has been a struggle.


{% endblock %}
