{% extends "_pg_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('pg_main') }}?referrer=derivation_edit_metadata">main page</a>
</P>

{{ derivation_dict }}

<fieldset>
  <legend>
    <H2>Edit name and/or abstract for Derivation {{ derivation_dict['name_latex'] }}</h2>
  </legend>

  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form.csrf_token }}
    <P>
      {{ form.derivation_name_latex.label}}: was {{ derivation_dict['name_latex'] }}; reset to {{ form.derivation_name_latex(size=50, maxlength=1000, value=derivation_dict['name_latex']) }} <BR/>
      &nbsp;<BR/>
      {{form.abstract_latex.label }}: was {{ derivation_dict['abstract_latex'] }}; reset to {{ form.abstract_latex(size=50, maxlength=1000, value=derivation_dict['abstract_latex']) }}<BR/>
      &nbsp;<BR/>
      <input type="submit" value="edit derivation metadata">
    </P>
  </form>

</fieldset>


{% endblock %}
