{% extends "_pg_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('pg_main') }}?referrer=derivation_select_step">main page</a>
</P>

<P>derivation_dict: {{ derivation_dict }}



<fieldset>
<legend>
  <H2>Edit or delete a step in the Derivation {{ derivation_dict['name_latex'] }}</h2>
</legend>

<P>Which step to edit or delete:

<P>list_of_step_dicts: {{ list_of_step_dicts }}

<P>all_steps: {{ all_steps }}

<table border="1" id="expression_table">
  <tr>
    <th>step ID</th>
    <th>inference rule</th>
    <th>input(s)</th>
    <th>feed(s)</th>
    <TH>output(s)</TH>
  </tr>
  {% for step_dict in list_of_step_dicts %}
  <tr>
    <td>
      <a href="{{ url_for('pg_to_edit_step', step_id=step_dict['id'] ) }}?referrer=derivation_select_step">
          {{ step_dict['id'] }}
      </a>
    </td>
    <td>{{ step_dict['inference rule ID']}}</td>
    <td>{{ step_dict['list of input dicts'] }}</td>
    <td>{{ step_dict['list of feed dicts'] }}</td>
    <td>{{ step_dict['list of output dicts'] }}</td>
  </tr>
  {% endfor %}
</table>

</fieldset>



{% endblock %}
