{% extends "_pg_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('pg_main') }}?referrer=expression_create">main page</a>
</P>

<fieldset>
  <legend>
    Create expression
  </legend>

  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form.csrf_token }}


Latex:
<table border="1">
  <tr>
    <td>{{ form.expression_latex_lhs(size=50, 
                                maxlength=1000,
                                id="input_latex_lhs", 
                                onchange="onChangeFunction();") }}</td>
    <td>



    <select name="symbol_relation_id_to_add" class="selectpicker form-control" id="relation_select">
      {% for relation_dict in list_of_relation_dicts %}
      <option value="{{ relation_dict['id'] }}">\({{ relation_dict['latex'] }}\)</option>
      {% endfor %}
    </select>

    </td>
    <td>{{ form.expression_latex_rhs(size=50, 
                                maxlength=1000,
                                id="input_latex_rhs", 
                                onchange="onChangeFunction();") }}</td>
    <td>when</td>
    <td>{{ form.expression_latex_condition(size=50, 
                                maxlength=1000,
                                id="input_latex_condition", 
                                onchange="onChangeFunction();") }}</td>
  </tr>
  <tr>
    <td>{{ form.expression_latex_lhs.label}} (<B>required</B>)</td> <!-- LHS -->
    <td></td> <!-- relation -->
    <td>{{ form.expression_latex_rhs.label}} (<B>required</B>)</td> <!-- RHS -->
    <td></td> <!-- when -->
    <td>{{ form.expression_latex_condition.label}}<BR>
        Leave blank for "always true"</td> <!-- condition -->
  </tr>
  <tr>
    <td><input type="checkbox" 
              id="display_input_latex_lhs" 
              checked="" 
              onchange="convert('input_latex_lhs',
                                'display_input_latex_lhs', 
                                'preview_input_latex_lhs',
                                'output_input_latex_lhs')">
       <small><label for="display_input_latex_lhs">Display style</label></small>
       <input type="button" 
              value="optional preview of TeX before submitting" 
              id="preview_input_latex_lhs" 
              onclick="convert('input_latex_lhs',
                               'display_input_latex_lhs', 
                               'preview_input_latex_lhs',
                               'output_input_latex_lhs')">
              <br clear="all">
        <div id="output_input_latex_lhs"></div>
      </td> <!-- LHS -->
    <td></td> <!-- relation -->
    <td>    <P><input type="checkbox" 
              id="display_input_latex_rhs" 
              checked="" 
              onchange="convert('input_latex_rhs',
                                'display_input_latex_rhs', 
                                'preview_input_latex_rhs',
                                'output_input_latex_rhs')">
       <small><label for="display_input_latex_rhs">Display style</label></small>
       <input type="button" 
              value="optional preview of TeX before submitting" 
              id="preview_input_latex_rhs" 
              onclick="convert('input_latex_rhs',
                               'display_input_latex_rhs', 
                               'preview_input_latex_rhs',
                               'output_input_latex_rhs')">
              <br clear="all">
        <div id="output_input_latex_rhs"></div>
    </td> <!-- RHS -->
    <td></td> <!-- when -->
    <td><input type="checkbox" 
              id="display_input_latex_condition" 
              checked="" 
              onchange="convert('input_latex_condition',
                                'display_input_latex_condition', 
                                'preview_input_latex_condition',
                                'output_input_latex_condition')">
       <small><label for="display_input_latex_condition">Display style</label></small>
       <input type="button" 
              value="optional preview of TeX before submitting" 
              id="preview_input_latex_condition" 
              onclick="convert('input_latex_condition',
                               'display_input_latex_condition', 
                               'preview_input_latex_condition',
                               'output_input_latex_condition')">
              <br clear="all">
        <div id="output_input_latex_condition"></div>
      </td> <!-- condition -->
  </tr>
</table>


    <P>{{ form.expression_name_latex.label }} (optional): 
       {{ form.expression_name_latex(size=50, maxlength=1000) }}

    <P>{{ form.expression_reference_latex.label }} (optional): 
       {{ form.expression_reference_latex(size=50, maxlength=1000) }}


    <P>{{ form.expression_description_latex.label }} (optional): 
       {{ form.expression_description_latex(size=50, maxlength=1000) }}

    <P><input type="submit" value="add expression">
    </P>
  </form>
</fieldset>

TODO: as user is entering expression, filter the list of existing expressions

{% include '_table_of_expressions.html' %}

<script>
function select_expression() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('expression_input');
  filter = input.value.toUpperCase();
  ul = document.getElementById("expression_UL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>



{% endblock %}
