{% extends "_pg_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('pg_main') }}?referrer=expression_create_sympy_and_lean">main page</a>
</P>

<fieldset>
  <legend>
    <H2>Provide <a href="https://www.sympy.org/">SymPy</a> and <a href="https://github.com/leanprover/lean4">Lean</a></H2>
  </legend>

<P>

<H3>as Latex: \({{ expression_dict['latex_lhs'] }} {{ expression_dict['latex_relation'] }} {{ expression_dict['latex_rhs'] }}\)</H3>

<H3>as string: {{ expression_dict['latex_lhs'] }} 
    {{ expression_dict['latex_relation'] }} 
    {{ expression_dict['latex_rhs'] }}</H3>

<P>symbols substituted: {{ revised_expr_lhs }} = {{ revised_expr_rhs }}

<P>symbols lookup: {{ symbol_id_dict }}

  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form.csrf_token }}

<table border="0">
  <tr>
    <td>{{ form.sympy_str_lhs(cols=50, rows=5, 
                         maxlength=1000) }}</td> <!-- LHS -->
    <td>{{ expression_dict['latex_relation'] }}</td> <!-- relation -->
    <td>{{ form.sympy_str_rhs(cols=50, rows=5, 
                         maxlength=1000) }}</td> <!-- RHS -->
  </tr>
  <tr>
    <td>{{ form.sympy_str_lhs.label}}</td> <!-- LHS -->
    <td></td> <!-- relation -->
    <td>{{ form.sympy_str_rhs.label}}</td> <!-- RHS -->
  </tr>
</table>

           <!--
                          "TextArea doesn't have a value attribute,"
                         value=revised_expr_with_str) }}</P>
                         -->
    <P>{{ form.lean_str.label}}: 
       {{ form.lean_str(size=100, 
                        maxlength=1000) }}</P>

    <P><input type="submit" name="submit_button" value="update expressions"></P>
  </form>

The SymPy is relevant for checking dimensionality of expressions and for validating steps in derivations.

The Lean is relevant for proving steps in derivations. 

</fieldset>



{% endblock %}
