{% extends "_pg_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('pg_main') }}?referrer=feed_create_symbols_and_operations">main page</a>
</P>

<P>list_of_potential_matching_symbols_from_sympy: {{ list_of_potential_matching_symbols_from_sympy }}

<!--
<P>potential_symbols_found_in_Latex_expression: { { potential_symbols_found_in_Latex_expression } }
-->

<fieldset>
  <legend>
    <H2>Specify Symbols and Operations for Latex feed</H2>
  </legend>
Associating feeds with symbols enables the validation of expressions and steps.

<H3>\({{ feed_dict['latex'] }}\)</H3>

<H3>{{ feed_dict['latex'] }}</H3>

  <form method="post" action="">
  {{ form.csrf_token }}

<!--
{ % for symbol_dict in list_of_symbol_dicts % }
-->
{% for symbol_dict in potential_symbols_found_in_Latex_feed %}
<UL>
  <LI><input type="checkbox" name="symbol_id_to_connect_to_expression-{{ loop.index }}" value="{{ symbol_dict['id'] }}_{{ symbol_dict['symbol_category'] }}">\({{ symbol_dict['latex'] }}\), aka {{ symbol_dict['latex'] }}<BR>{{ symbol_dict }}<BR>
  TODO: used in which derivations?</LI>
</UL>
{% endfor %}


  <P><input type="submit" name="submit_button" value="update expressions">
  </form>

</fieldset>

{% endblock %}
