{% extends "_pg_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('pg_main') }}?referrer=feed_edit">main page</a>
or return to <a href="{{ url_for('pg_to_list_feeds') }}?referrer=feed_edit">list of feeds</a>
</P>



<P>See also 
  <a href="{{ url_for('pg_to_list_scalars') }}?referrer=expession_edit">scalar symbols</a>,
  <a href="{{ url_for('pg_to_list_vectors') }}?referrer=expession_edit">vector symbols</a>,
  <a href="{{ url_for('pg_to_list_matrices') }}?referrer=expession_edit">matrix symbols</a>.</P>

<P>TODO: list derivations that use this feed. That could help provide context.

<fieldset>
  <legend>
    <H2>Scalar symbols in Feed</h2>
  </legend>

<P>\({{ feed_dict['latex'] }}\)

<P>{{ feed_dict['latex'] }}
  
<table border="1" id="symbol_table">
  <tr>
    <th>ID</th>
    <th>latex</th>
    <th>name</th>
    <th>description</th>
    <th>reference</th>
    <th>dimension: time</th>
    <th>dimension: length</th>
    <th>dimension: mass</th>
    <th>dimension: electric charge</th>
    <th>dimension: luminous intensity</th>
    <th>dimension: amount of substance</th>
    <th>dimension: temperature</th>
    <th>scope</th>
    <th>domain</th>
  </tr>
  {% for symbol_id, symbol_dict in dict_of_symbol_dicts_in_feed.items() %}
  <tr>
    <td>
      <a href="{{ url_for('pg_to_edit_scalar_symbol', symbol_id=symbol_id ) }}">
          {{ symbol_id }}
      </a>
    </td>
    <td>{{ symbol_dict['latex']}}<BR>
      \({{ symbol_dict['latex']}}\)</td>
    <td>{{ symbol_dict['name_latex'] }}</td>
    <td>{{ symbol_dict['description_latex'] }}</td>
    <td>{{ symbol_dict['symbol_reference'] }}</td>
    <td>{{ symbol_dict['dimension_time'] }}</td>
    <td>{{ symbol_dict['dimension_length'] }}</td>
    <td>{{ symbol_dict['dimension_mass'] }}</td>
    <td>{{ symbol_dict['dimension_electric_charge'] }}</td>
    <td>{{ symbol_dict['dimension_luminous_intensity'] }}</td>
    <td>{{ symbol_dict['dimension_amount_of_substance'] }}</td>
    <td>{{ symbol_dict['dimension_temperature'] }}</td>
    <td>{{ symbol_dict['symbol_scope'] }}</td>
    <td>{{ symbol_dict['symbol_domain'] }}</td>
  </tr>
  {% endfor %}
</table>

<fieldset>
  <legend>
    <H2>Add Symbol used in Feed</h2>
  </legend>
  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form_no_options.csrf_token }}
    <P><!--symbol count: { { list_of_symbol_IDs|length } }-->
    <select name="symbol_select_id_to_add" class="selectpicker form-control" id="symbol_select">
      {% for symbol_id in dict_of_symbol_dicts_not_in_expression.keys() %}
      <option value="{{ symbol_id }}">{{ symbol_id }}, {{ dict_of_all_symbol_dicts[symbol_id]['latex'] }} </option>
      {% endfor %}
    </select>
    <input type="submit" value="add symbol to expression">
  </form>
</fieldset>

<fieldset>
  <legend>
    <H2>Remove Symbol used in Feed</h2>
  </legend>
  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form_no_options.csrf_token }}
    <P><!--symbol count: { { list_of_symbol_IDs|length } }-->
    <select name="symbol_select_id_to_remove" class="selectpicker form-control" id="symbol_select">
      {% for symbol_id in dict_of_symbol_dicts_in_expression.keys() %}
      <option value="{{ symbol_id }}">{{ symbol_id }}, {{ dict_of_all_symbol_dicts[symbol_id]['latex'] }} </option>
      {% endfor %}
    </select>
    <input type="submit" value="remove symbol from expression">
  </form>
</fieldset>

</fieldset>

<!--
<fieldset>
  <legend>
    <H2>Operations in Expression</h2>
  </legend>

<P>See also <a href="{ { url_for('to_list_operations') }}?referrer=expession_edit">all operations</a>.</P>

  <P>{ % for symbol_id, symbol_dict in dict_of_operation_dicts_in_expression.items() %}
    <UL>
      <LI>{ { symbol_dict }}</LI>
    </UL>
     { % endfor %}


<table border="1" id="operation_table">
  <tr>
    <th>ID</th>
    <th>latex</th>
    <th>name</th>
    <th>number of arguments</th>
    <th>description</th>
  </tr>
  { % for symbol_id, symbol_dict in dict_of_operation_dicts_in_expression.items() %}
  <tr>
    <td><a href="{ { url_for('to_edit_scalar_symbol', symbol_id=symbol_id) }}">{ { symbol_id }}</a></td> <!-- ID - ->
    <td>{ { symbol_dict['latex'] }}</td> <!-- latex -- >
    <td>{ { symbol_dict['name_latex'] }}</td> <!-- name - ->
    <td>{ { symbol_dict['number_of_arguments'] }}</td>
    <td>{ { symbol_dict['description_latex'] }}</td>
  </tr>
  { % endfor %}
</table>

<fieldset>
  <legend>
    <H2>Add operation used in Expression</h2>
  </legend>
  <form method="post" action="" onsubmit="return checkForm(this);">
    { { form_no_options.csrf_token }}
    <P>
    <select name="symbol_select_id_to_add" class="selectpicker form-control" id="symbol_select">
      { % for symbol_id, symbol_dict in dict_of_operation_dicts_not_in_expression.items() %}
      <option value="{ { symbol_id }}">{ { symbol_id }}, { { symbol_dict['latex'] }} </option>
      { % endfor %}
    </select>
    <input type="submit" value="add operation to expression">
  </form>
</fieldset>

<fieldset>
  <legend>
    <H2>Remove operation used in Expression</h2>
  </legend>
  <form method="post" action="" onsubmit="return checkForm(this);">
    { { form_no_options.csrf_token }}
    <P><!-- operation count: { { list_of_operation_IDs|length } } - ->
    <select name="symbol_select_id_to_remove" class="selectpicker form-control" id="symbol_select">
      { % for symbol_id, symbol_dict in dict_of_operation_dicts_in_expression.items() %}
      <option value="{ { symbol_id }}">{ { symbol_id }}, { { symbol_dict['latex'] }} </option>
      { % endfor %}
    </select>
    <input type="submit" value="remove operation from expression">
  </form>
</fieldset>
</fieldset>
-->

  <fieldset>
    <legend>
      <H2>Edit Feed</h2>
    </legend>

  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form_new_expression.csrf_token }}
    <P>{{ form_new_expression.feed_latex.label}} (<B>required</B>): 
       {{ form_new_expression.feed_latex(size=50, 
                    maxlength=1000, 
                    value=expression_dict['latex'],
                    id="input_latex", 
                    onchange="onChangeFunction();") }} 

    <P><input type="checkbox" 
              id="display_input_latex" 
              checked="" 
              onchange="convert('input_latex',
                                'display_input_latex', 
                                'preview_input_latex',
                                'output_input_latex')">
       <small><label for="display_input_latex">Display style</label></small>
       <input type="button" 
              value="optional preview of TeX before submitting form" 
              id="preview_input_latex" 
              onclick="convert('input_latex',
                               'display_input_latex', 
                               'preview_input_latex',
                               'output_input_latex')">
              <br clear="all">
        <div id="output_input_latex"></div>


      <input type="submit" value="Edit feed">
    </P>
  </form>
</fieldset>

  <fieldset>
    <legend>
      <H2>Delete Feed</h2>
    </legend>
    <P color="red">WARNING: THERE IS NO UNDO</P>
    <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form_no_options.csrf_token }}

    <input type="submit" value="Delete feed">
    </form>
</fieldset>

{% endblock %}
