{% extends "_pg_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('pg_main') }}?referrer=inference_rule_edit">main page</a>
or return to <a href="{{ url_for('pg_to_list_inference_rules') }}?referrer=inference_rule_edit">list of inference rules</a>
</P>

<P>Used in the following derivations: 
  {% for derivation_dict in list_of_derivation_dicts_that_use_this_inference_rule_id %}
  <UL>
    <LI>{{ derivation_dict }}</LI>
  </UL>
{% endfor %}

<fieldset>
  <legend>
    <H2>Edit Inference Rule {{ inference_rule_dict['name_latex'] }}</h2>
  </legend>

<P>{{ inference_rule_dict }}

<P>TODO: editing the inference rule could break derivations.
  
  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form.csrf_token }}
    <P>
      {{ form.inference_rule_name.label}}: {{ form.inference_rule_name(size=50, maxlength=1000, value=inference_rule_dict['name_latex']) }} <BR/>
      &nbsp;<BR/>
      {{form.inference_rule_latex.label }}: {{ form.inference_rule_latex(size=50, maxlength=1000, value=inference_rule_dict['latex']) }}<BR/>
      &nbsp;<BR/>
      {{form.inference_rule_number_of_inputs.label }}: {{ form.inference_rule_number_of_inputs(value=inference_rule_dict['number_of_inputs']) }} <BR/>
      &nbsp;<BR/>
      {{form.inference_rule_number_of_feeds.label }}: {{ form.inference_rule_number_of_feeds(value=inference_rule_dict['number_of_feeds']) }} <BR/>
      &nbsp;<BR/>
      {{form.inference_rule_number_of_outputs.label }}: {{ form.inference_rule_number_of_outputs(value=inference_rule_dict['number_of_outputs']) }} <BR/>
      &nbsp;<BR/>
      <input type="submit" value="Edit inference rule">
    </P>
  </form>

</fieldset>

<fieldset>
  <legend>
    <H2>Delete Inference Rule</H2>
  </legend>

  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form.csrf_token }}
    <P>

    <input type="submit" value="delete inference rule">

  </form>
</fieldset>

{% endblock %}
