{% extends "_pg_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('pg_main') }}?referrer=step_edit">main page</a>
  or return to <a href="{{ url_for('pg_to_list_scalars') }}?referrer=step_edit">list of scalar symbols</a>
</P>

{{ step_dict }}

<fieldset>
  <legend>
    <H2>Edit Step</h2>
  </legend>

<P>change note before step

  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form.csrf_token }}
    <P>{{ form.note_before_step_latex.label}}: 
       {{ form.note_before_step_latex(size=50, 
              maxlength=1000, 
              value=step_dict['note_before_step_latex']) }} 

    <P>{{ form.note_after_step_latex.label }}: 
       {{ form.note_after_step_latex(size=50, 
              maxlength=1000, 
              value=step_dict['note_after_step_latex']) }}<BR/>
      &nbsp;<BR/>
      <input type="submit" value="Edit step">
    </P>
  </form>

</fieldset>

<fieldset>
  <legend>
    Delete step
  </legend>

<form method="post" action="" onsubmit="return checkForm(this);">
  {{ form.csrf_token }}

  <input type="submit" value="delete step">

</form>
</fieldset>




{% endblock %}
