{% extends "_pg_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('pg_main') }}?referrer=symbol_scalar_constant_create">main page</a>
  or return to <a href="{{ url_for('pg_to_list_scalars') }}?referrer=symbol_scalar_constant_create">list of scalar symbols</a>
</P>

<fieldset>
  <legend>
    <H2>Specify value and units for constant \({{ scalar_dict['latex'] }}\)</H2>
  </legend>

<P>name: {{ scalar_dict['name_latex'] }}<BR>
   reference: {{ scalar_dict['reference_latex'] }}<BR>
   description: {{ scalar_dict['description_latex'] }}

<P>&nbsp;
  
  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form_constant_properties.csrf_token }}

<table border="0">
  <tr>
    <td>{{ form_constant_properties.number_decimal(size=50) }}</td>
    <td>*10^</td>
    <td>{{ form_constant_properties.number_power(size=50, minlength=1, maxlength=100) }}</td>
  </tr>
  <tr>
    <td>{{ form_constant_properties.number_decimal.label}} (<B>required</B>)</td>
    <td></td>
    <td>{{ form_constant_properties.number_power.label}} (<B>required</B>)</td>
  </tr>
</table>
<P>&nbsp;
<table border="0">
  <tr>
    <td>with units</td>
    <td></td>
  </tr>
  <tr>
{% if scalar_dict['dimension_mass'] != 0 %}
    <td>
    <select name="mass_select_unit" class="selectpicker form-control" id="mass_select">
      {% for mass_unit in list_of_dimension_mass_units %}
      <option value="{{ mass_unit }}">{{ mass_unit }}</option>
      {% endfor %}
    </select>
    ^{{ scalar_dict['dimension_mass'] }}
    </td>
{% endif %}
{% if scalar_dict['dimension_time'] != 0 %}
    <td>
    <select name="time_select_unit" class="selectpicker form-control" id="time_select">
      {% for time_unit in list_of_dimension_time_units %}
      <option value="{{ time_unit }}">{{ time_unit }}</option>
      {% endfor %}
    </select>
    ^{{ scalar_dict['dimension_time'] }}
    </td>
{% endif %}
{% if scalar_dict['dimension_length'] != 0 %}
    <td>
    <select name="length_select_unit" class="selectpicker form-control" id="length_select">
      {% for length_unit in list_of_dimension_length_units %}
      <option value="{{ length_unit }}">{{ length_unit }}</option>
      {% endfor %}
    </select>
    ^{{ scalar_dict['dimension_length'] }}
    </td>
{% endif %}
{% if scalar_dict['dimension_temperature'] != 0 %}
    <td>
    <select name="temperature_select_unit" class="selectpicker form-control" id="temperature_select">
      {% for temperature_unit in list_of_dimension_temperature_units %}
      <option value="{{ temperature_unit }}">{{ temperature_unit }}</option>
      {% endfor %}
    </select>
    ^{{ scalar_dict['dimension_temperature'] }}
    </td>
{% endif %}
{% if scalar_dict['dimension_electric_charge'] != 0 %}
    <td>
    <select name="electric_charge_select_unit" class="selectpicker form-control" id="electric_charge_select">
      {% for electric_charge_unit in list_of_dimension_electric_charge_units %}
      <option value="{{ electric_charge_unit }}">{{ electric_charge_unit }}</option>
      {% endfor %}
    </select>
    ^{{ scalar_dict['dimension_electric_charge'] }}
    </td>
{% endif %}
{% if scalar_dict['dimension_amount_of_substance'] != 0 %}
    <td>
    <select name="amount_of_substance_select_unit" class="selectpicker form-control" id="amount_of_substance_select">
      {% for amount_of_substance_unit in list_of_dimension_amount_of_substance_units %}
      <option value="{{ amount_of_substance_unit }}">{{ amount_of_substance_unit }}</option>
      {% endfor %}
    </select>
    ^{{ scalar_dict['dimension_amount_of_substance'] }}
    </td>
{% endif %}
{% if scalar_dict['dimension_luminous_intensity'] != 0 %}
    <td>
    <select name="luminous_intensity_select_unit" class="selectpicker form-control" id="luminous_intensity_select">
      {% for luminous_intensity_unit in list_of_dimension_luminous_intensity_units %}
      <option value="{{ luminous_intensity_unit }}">{{ luminous_intensity_unit }}</option>
      {% endfor %}
    </select>
    ^{{ scalar_dict['dimension_luminous_intensity'] }}
    </td>
{% endif %}

  </tr>
  <tr>
{% if scalar_dict['dimension_mass'] != 0 %}
    <td>mass</td>
{% endif %}
{% if scalar_dict['dimension_time'] != 0 %}
    <td>time</td>
{% endif %}
{% if scalar_dict['dimension_length'] != 0 %}
    <td>length</td>
{% endif %}
{% if scalar_dict['dimension_temperature'] != 0 %}
    <td>temperature</td>
{% endif %}
{% if scalar_dict['dimension_electric_charge'] != 0 %}
    <td>electric charge</td>
{% endif %}
{% if scalar_dict['dimension_amount_of_substance'] != 0 %}
    <td>amount of substance</td>
{% endif %}
{% if scalar_dict['dimension_luminous_intensity'] != 0 %}
    <td>luminous intensity</td>
{% endif %}
  </tr>
</table>


    <P><input type="submit" value="set value and dimension for constant scalar symbol">
    </P>
  </form>
</fieldset>



<P>{% include '_table_of_symbols_scalar.html' %}

<script>
function select_symbol() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('symbol_input');
  filter = input.value.toUpperCase();
  ul = document.getElementById("symbol_UL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>



{% endblock %}
