{% extends "_pg_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('pg_main') }}?referrer=symbol_vector_edit">main page</a>
  or return to <a href="{{ url_for('pg_to_list_scalars') }}?referrer=symbol_vector_edit">list of all vectors</a>
</P>

<P>vector dict: {{ vector_dict }}

<P>TODO: list of derivations that use this vector

<fieldset>
  <legend>
    <H2>Edit vector</h2>
  </legend>

  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form.csrf_token }}
    <P>
      {{ form.vector_latex.label}}: {{ form.vector_latex(size=50, maxlength=1000, value=vector_dict['latex']) }} <BR/>
      &nbsp;<BR/>
      {{form.vector_name.label }}: {{ form.vector_name(size=50, maxlength=1000, value=vector_dict['name']) }}<BR/>
      &nbsp;<BR/>
      {{form.vector_description.label }}: {{ form.vector_description(size=50, maxlength=1000, value=vector_dict['description']) }}<BR/>
      &nbsp;<BR/>
      <input type="submit" value="Edit vector">
    </P>
  </form>

TODO: edit dimension

</fieldset>

<fieldset>
  <legend>
    <H2>Delete vector</H2>
  </legend>

<form method="post" action="" onsubmit="return checkForm(this);">
  {{ form_no_options.csrf_token }}
  <P>

  <input type="submit" value="Delete vector">

</form>
</fieldset>


{% endblock %}
