{% extends "_pg_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('pg_main') }}?referrer=symbol_operation_edit">main page</a>
  or return to <a href="{{ url_for('pg_to_list_scalars') }}?referrer=symbol_operation_edit">list of all operations</a>
</P>

<P>operation dict: {{ operation_dict }}

<P>TODO: list of derivations that use this operation

<fieldset>
  <legend>
    <H2>Edit operation</h2>
  </legend>

  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form.csrf_token }}
    <P>
      {{ form.operation_latex.label}}: {{ form.operation_latex(size=50, maxlength=1000, value=operation_dict['latex']) }} <BR/>
      &nbsp;<BR/>
      {{form.operation_name.label }}: {{ form.operation_name(size=50, maxlength=1000, value=operation_dict['name']) }}<BR/>
      &nbsp;<BR/>
      {{form.operation_description.label }}: {{ form.operation_description(size=50, maxlength=1000, value=operation_dict['description']) }}<BR/>
      &nbsp;<BR/>
      <input type="submit" value="Edit operation">
    </P>
  </form>

TODO: edit dimension

</fieldset>

<fieldset>
  <legend>
    <H2>Delete operation</H2>
  </legend>

<form method="post" action="" onsubmit="return checkForm(this);">
  {{ form_no_options.csrf_token }}
  <P>

  <input type="submit" value="Delete operation">

</form>
</fieldset>


{% endblock %}
