{% extends "_pg_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('pg_main') }}?referrer=symbol_matrix_create">main page</a>
  or return to <a href="{{ url_for('pg_to_list_matrices') }}?referrer=symbol_matrix_create">list of matrices</a>
</P>

<fieldset>
  <legend>
    <H2>Create matrix symbol</H2>
  </legend>

<P>TODO: as user is entering matrix, filter the list of existing matrices.
  That way the user can recognize collisions.

  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form_matrix_properties.csrf_token }}

    


    <P>{{ form_matrix_properties.matrix_latex.label}} (<B>required</B>): 
       {{ form_matrix_properties.matrix_latex(size=50, minlength=1, maxlength=1000) }}</P>

    <P>{{ form_matrix_properties.matrix_is_composite.label }} (<B><em>required</em></B>): 
       {{ form_matrix_properties.matrix_is_composite }}</p>
    
    <P>{{ form_matrix_properties.matrix_name_latex.label }} (<small><em>optional</em></small>): 
       {{ form_matrix_properties.matrix_name_latex(size=50, maxlength=1000) }}</p>
    
    <P>{{ form_matrix_properties.matrix_description_latex.label }} (<small><em>optional</em></small>): 
       {{ form_matrix_properties.matrix_description_latex(size=50, maxlength=1000) }}</p>

    <P>{{ form_matrix_properties.matrix_reference_latex.label }} (<small><em>optional</em></small>): 
       {{ form_matrix_properties.matrix_reference_latex(size=50, maxlength=1000) }}</p>

    <P>{{ form_matrix_properties.matrix_size.label}} (<B>required</B>): 
       {{ form_matrix_properties.matrix_size }}

    <P>{{ form_matrix_properties.matrix_number_of_rows.label}} (<B>required</B>): 
       {{ form_matrix_properties.matrix_number_of_rows() }}
      
       {{ form_matrix_properties.matrix_number_of_columns.label}} (<B>required</B>): 
       {{ form_matrix_properties.matrix_number_of_columns() }}

    <P><input type="submit" value="add matrix">
    </P>
  </form>
</fieldset>



<P>{% include '_table_of_symbols_matrix.html' %}

<script>
function select_symbol() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('matrix_input');
  filter = input.value.toUpperCase();
  ul = document.getElementById("matrix_UL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>



{% endblock %}
