{% extends "_pg_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('pg_main') }}?referrer=symbol_scalar_constant_values_edit">main page</a>
  or return to <a href="{{ url_for('pg_to_list_scalars') }}?referrer=symbol_scalar_constant_values_edit">list of all scalar symbols</a>
</P>

<P>Symbol dict: {{ symbol_dict }}

<P>TODO: list of derivations that use this symbol

<fieldset>
  <legend>
    <H2>Edit Symbol</h2>
  </legend>

  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form_symbol_properties.csrf_token }}
    <P>
      {{ form_symbol_properties.symbol_latex.label}}: {{ form_symbol_properties.symbol_latex(size=50, maxlength=1000, value=symbol_dict['latex']) }} <BR/>
      &nbsp;<BR/>
      {{form_symbol_properties.symbol_name.label }}: {{ form_symbol_properties.symbol_name(size=50, maxlength=1000, value=symbol_dict['name']) }}<BR/>
      &nbsp;<BR/>
      {{form_symbol_properties.symbol_description.label }}: {{ form_symbol_properties.symbol_description(size=50, maxlength=1000, value=symbol_dict['description']) }}<BR/>
      &nbsp;<BR/>
      <input type="submit" value="Edit symbol">
    </P>
  </form>

TODO: edit dimension

</fieldset>

<fieldset>
  <legend>
    <H2>Delete Symbol</H2>
  </legend>

<form method="post" action="" onsubmit="return checkForm(this);">
  {{ form_no_options.csrf_token }}
  <P>

  <input type="submit" value="Delete symbol">

</form>
</fieldset>


{% endblock %}
