{% extends "_pg_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('pg_main') }}?referrer=symbol_scalar_constant_value_list">main page</a>
</P>

<P>See also Wikipedia's <a href="https://en.wikipedia.org/wiki/Glossary_of_mathematical_symbols">list of symbols</a></P>

<!--
<P>All symbols:
{ % for symbol_dict in list_of_symbol_dicts %}
<UL>
  <LI>{ { symbol_dict }}</LI>
</UL>
{ % endfor %}
-->




<fieldset>
<legend>
  <H2 id="scalar">There are {{ list_of_value_dicts|length }} values for constant \({{ scalar_dict['latex'] }}\)</h2>
</legend>

<P>{{ scalar_dict['latex'] }}

<P>The ID links to a page where you can edit the value and units<BR>

<!-- https://www.w3schools.com/howto/howto_js_filter_lists.asp -->
(TODO) this box doesn't actually search yet: <input type="text" id="symbol_input" onkeyup="select_symbol()" placeholder="Select symbol to review">

{% include '_pg_table_of_values_and_units.html' %}


</fieldset>


<fieldset>
<legend>
  <H2 id="action">Actions for Constant values</h2>
</legend>

<P><a href="{{ url_for('pg_to_add_value_and_units',scalar_id=scalar_dict['id']) }}?referrer=symbol_scalar_constant_value_list">add new value</a> 

<!--
  <P><a href="{ { url_for('to_add_symbol') }}?referrer=list_symbols">add new symbol</a> -- not clear which categorey; guide needed</P>
-->
</UL>



</fieldset>


<script>
function select_symbol() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('scalar_input');
  filter = input.value.toUpperCase();
  ul = document.getElementById("scalar_UL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>

{% endblock %}
