{% extends "_pg_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('pg_main') }}?referrer=symbol_matrix_edit">main page</a>
  or return to <a href="{{ url_for('pg_to_list_matrices') }}?referrer=symbol_matrix_edit">list of all matrices</a>
</P>

<P>matrix dict: {{ matrix_dict }}

<P>TODO: list of derivations that use this matrix

<fieldset>
  <legend>
    <H2>Edit matrix</h2>
  </legend>

  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form.csrf_token }}
    <P>
      {{ form.matrix_latex.label}}: {{ form.matrix_latex(size=50, maxlength=1000, value=matrix_dict['latex']) }} <BR/>
      &nbsp;<BR/>
      {{form.matrix_name.label }}: {{ form.matrix_name(size=50, maxlength=1000, value=matrix_dict['name']) }}<BR/>
      &nbsp;<BR/>
      {{form.matrix_description.label }}: {{ form.matrix_description(size=50, maxlength=1000, value=matrix_dict['description']) }}<BR/>
      &nbsp;<BR/>
      <input type="submit" value="Edit matrix">
    </P>
  </form>

TODO: edit dimension

</fieldset>

<fieldset>
  <legend>
    <H2>Delete matrix</H2>
  </legend>

<form method="post" action="" onsubmit="return checkForm(this);">
  {{ form_no_options.csrf_token }}
  <P>

  <input type="submit" value="Delete matrix">

</form>
</fieldset>


{% endblock %}
