{% extends "_pg_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('pg_main') }}?referrer=symbol_operation_create">main page</a>
  or return to <a href="{{ url_for('pg_to_list_operations') }}?referrer=symbol_operation_create">list of operations</a>
</P>

<fieldset>
  <legend>
    <H2>Create operation</H2>
  </legend>

<P>TODO: as user is entering symbol, filter the list of existing symbols.
  That way the user can recognize collisions.

  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form_operation_properties.csrf_token }}

    <P>{{ form_operation_properties.operation_latex.label}} (<B>required</B>): 
       {{ form_operation_properties.operation_latex(size=50, 
                      minlength=1, 
                      maxlength=1000,
                      id="input_latex", 
                      onchange="onChangeFunction();") }}</P>
    
    <P><input type="checkbox" 
              id="display_input_latex" 
              checked="" 
              onchange="convert('input_latex',
                                'display_input_latex', 
                                'preview_input_latex',
                                'output_input_latex')">
       <small><label for="display_input_latex">Display style</label></small>
       <input type="button" 
              value="optional preview of TeX before submitting form" 
              id="preview_input_latex" 
              onclick="convert('input_latex',
                               'display_input_latex', 
                               'preview_input_latex',
                               'output_input_latex')">
              <br clear="all">
        <div id="output_input_latex"></div>

    <P>{{ form_operation_properties.operation_argument_count.label}} (<B>required</B>): 
       {{ form_operation_properties.operation_argument_count() }}

    <P>{{ form_operation_properties.operation_name_latex.label }} (<B>required</B>): 
       {{ form_operation_properties.operation_name_latex(size=50, maxlength=1000) }}</p>
    
    <P>{{form_operation_properties.operation_description_latex.label }} (<small><em>optional</em></small>):  
       {{ form_operation_properties.operation_description_latex(size=50, maxlength=1000) }}</p>

    <P>{{ form_operation_properties.operation_reference_latex.label }} (<small><em>optional</em></small>): 
       {{ form_operation_properties.operation_reference_latex }}</p>

      <input type="submit" value="add operation">
    </P>
  </form>
</fieldset>


<P>{% include '_table_of_symbols_operation.html' %}

<script>
function select_symbol() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('operation_input');
  filter = input.value.toUpperCase();
  ul = document.getElementById("operation_UL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>



{% endblock %}
